# Test
OS="mac"
# DB
POSTGRES_DATABASE=dog_center
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgres://USER:PDW@HOST/dog_center

# SERVER
HTTP_PORT=3000
GRAPHQL_PORT=8080
